.inputBar__text {
  background: var(--OFF-WHITE);
  border: 1px solid var(--PLACEHOLDER);
  border-radius: 10px;
  width: auto;
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
}
.inputBar__text:focus {
  outline: none;
  background: transparent;
  color: #222222;
}
.inputBar__text::placeholder {
  color: var(--LABEL);
}
.inputBar__Btn {
  background: var(--PRIMARY-2);
  border: 1px solid var(--PLACEHOLDER);
  border-radius: 10px;
  width: auto;
  height: 50px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
}
.inputBar__Btn-active {
  background: var(--PRIMARY-1);
  cursor: pointer;
}
.inputBar__Btn-small {
  background: var(--PRIMARY-1);
  margin: 1px 5px;
  border: 1px solid var(--PLACEHOLDER);
  border-radius: 8px;
  width: 40px;
  height: 36px;
}
.product-keyword {
  margin-left: auto;
}
.comment-input {
  width: 80%;
}
